{/* About me styling */}


{/* similar to homepage container, just renamed and use for aboutme page */}
.Home-container3 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}


.Home-container3 > h1 {
  color: #fff;
  font-size: 40px;
  margin-top: -200px;
}

.Home-container3 > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.Home-container3 > p1 {
  margin-top: 8px;
  color: #fff;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.Home-btns3 {
  margin-top: 32px;
}

.Home-btns3 .btn {
  margin: 6px;
}
